<div class="navbar-fixed">
  <nav class="z-depth-0 white">
  <div class="nav-wrapper">
    <a *ngIf="route !== '/'" routerLink="/" class="brand-logo center"><img src="../../assets/favicon.jpg"></a>
    <a materialize="sideNav"
       [materializeParams]="[{edge: 'left', closeOnClick:true}]"
        [materializeActions]="sidenavActions" class="sidenav-trigger button-collapse left hide-on-large-only" href="#" data-activate="mobile-demo" data-target="nav-mobile">
      <i class="material-icons cyan-text text-darken-4">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
        <li [ngClass]="route === '/about' ? 'active': ' '">
      <a class="cyan-text text-darken-4" routerLink="/about">About Me</a>
       </li>
      <li [ngClass]="route === '/projects' ? 'active': ' '">
        <a class="cyan-text text-darken-4" routerLink="/projects">Projects</a>
      </li>
      <li [ngClass]="route === '/contact' ? 'active': ' '">
        <a class="cyan-text text-darken-4" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  </nav>
</div>

<!--Mobile view menu-->
<ul materialize="sideNav" class="side-nav" id="mobile-demo">
  <li [ngClass]="route === '/about' ? 'active' : ' '">
    <a (click)="closeSideNav()" class="cyan-text text-darken-4 waves-effect" routerLink="/about"><i class="fa fa-info-circle fa-lg fa-pull-left cyan-text text-darken-4" aria-hidden="true"></i><b>About Me</b></a>
  </li>
  <li [ngClass]="route === '/projects' ? 'active' : ' '">
    <a (click)="closeSideNav()" class="cyan-text text-darken-4 waves-effect" routerLink="/projects"><i class="fa fa-info-circle fa-lg fa-pull-left cyan-text text-darken-4" aria-hidden="true"></i><b>Projects</b></a>
  </li>
  <li [ngClass]="route === '/contact' ? 'active' : ' '">
    <a (click)="closeSideNav()" class="cyan-text text-darken-4 waves-effect" routerLink="/contact"><i class="fa fa-info-circle fa-lg fa-pull-left cyan-text text-darken-4" aria-hidden="true"></i><b>Contact</b></a>
  </li>
</ul>


