.brand-logo img{
  height: 32px;
  vertical-align: middle;
}

.brand-logo{
  display: inline-block;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.brand-logo:hover{
  opacity: 0.75;
}

nav ul a {
  background-color: #e1f5fe!important;
}

.active{
  font-weight: bolder;
  text-decoration: underline;
}

