.brand-logo img{
  height: 90px;
  vertical-align: middle; width:90px;
}

.brand-logo{
  display: inline-block;
  height: 100%;
  transition: all 0.2s ease-in-out;

}

nav ul a:hover {
  background-color: #e1f5fe!important;
}

.brand-logo:hover{
  opacity: 0.75;
}

nav ul a {
  background-color: white;
}

.active{
  font-weight: bolder;
  text-decoration: underline;
}

