<!--<div class="container-fluid">-->
<!--  <div id="spinner" *ngIf="showSpinner">-->
<!--    <app-spinner></app-spinner>-->
<!--  </div>-->
<!--</div>-->

<div class="animated fadeIn">
  <img class="rsp centered">
  <div class="centered center">
   <h1 class="cyan-text text-darken-4">Hi, Welcome to Augustine's Personal Website</h1>
    <p class="cyan-text text-darken-4 flow-text">
      <a class="sublink cyan-text text-darken-4" href="#" routerLink="/about">About me</a>/
      <a class="sublink cyan-text text-darken-4" href="#" routerLink="/projects">Portfolio</a>/
      <a class="sublink cyan-text text-darken-4" href="#" routerLink="/contact">Contact</a></p>
  </div>
</div>

