<div class="animated fadeIn">
  <img class="rsp centered" src="src/assets/background-image.png">
  <div class="centered center">
   <h1 class="light-blue-text text-darken-3">Hi, Welcome to Augustine's Personal Website</h1>
    <p class="light-blue-text text-darken-3 flow-text">
      <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/about">About me</a>
      <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/portfolio">Portfolio</a>
      <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/contact">Contact</a></p>
  </div>
</div>

